<!DOCTYPE html>
<html>
<head>
  <title>GiggleGate</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">GG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/spooky">Spooky Jokes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pun">Pun Jokes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/christmas">Christmas Jokes</a>
            </li>
            <% if session[:user_id] %>
              <li class="nav-item">
                <p class="nav-link">Hello, <%= User.find(session[:user_id]).username %>!</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/favorites">Go to Favorites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="container mt-4">
    <%= yield %> <!-- This is where the content from individual templates will be injected -->
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
