<!DOCTYPE html>
<html>
<head>
  <title>Spooky Joke</title>
  <link rel="stylesheet" href="styles/app.css">

</head>
<body>
  <h1>Here's a joke for you:</h1>
  <p><%= @joke_text %></p>
  <p><a class="button-55" href="/spooky">Another Spooky Joke!</a></p>
  <p><a class="button-55" href="/">Back to home</a></p>
</body>
</html>
